
/*=====================
Home Page Structure
==================*/
@font-face { 
  font-family: FuturaPTLight; 
  src: local('FuturaPTLight'), 
  url(./fonts/FuturaPTLight.otf) 
  format('opentype'); 
}

* {
  font-family: 'FuturaPTLight', 'Roboto', sans-serif;
}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}



section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.customContainer{
  width: 100%!important;
  overflow:hidden;
  padding-left: 0;
  padding-right: 0;
}
.sky {
  background: rgb(109, 133, 167);
}
.green {
  background: #fff;
}
.gray {
    height: 100vh;
    background: rgb(232, 232, 232);
}
.white {
    background: #fff;
}
.black {
    background: #000;
}

@media(min-width : 991px) {
  .sky {
      height: 100vh;
  }
  .green {
      height: 100vh;
  }
  .gray {
      height: 100vh;
  }
  .white {
      height: 100vh;
  }
  .black {
      height: 100vh;
  }
}


.textWhite{
  color: #fff!important;
}
.textSizeSmall{
  font-size: 40px!important;
}
.sectionAlign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1Home{
  padding-top: 100px;
  padding-bottom: 40px;
}
@media (max-width: 480px) {
  .section1Home{
    overflow:hidden; 
  }
  .textSizeSmall{
    font-size: 25px!important;
  }
}
.sectionLast{
  height: auto!important;
  padding: 60px;
}

@media (max-width: 991px) {
  .sectionLast{
    height: auto!important;
    padding: 0px;
  }
  .sectionLast h1 {
    font-size: 27px;
  }
  .sectionLast p {
    font-size: 17px!important;
  }
} 
.sectionLast p{
  font-size: 21px;
}
.sectionAccess{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 501px) {
  .sectionAccess.bg{
    background: url("images/bgBoy.jpg") no-repeat;
    background-size: cover;
    min-height: 300px;
  }
}

@media(max-width: 500px) {
  .sectionAccess.bg{
    background: #fff;
    background-size: cover;
    min-height: 300px;
  }
  .boyBgMobile{
    background: url("images/bgBoy.jpg") no-repeat;
    background-size: cover;
    min-height: 300px;
  }
}


.sectionAccess h1{
  font-size: 47px;
  color: #000;
}
.sectionAccess p{
  font-size: 21px;
  color: #000;
}


@media (max-width: 480px) {
  .sectionAccess{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .sectionAccess h1{
    font-size: 27px;
    text-align: center;
  }
  .sectionAccess p{
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


/*=====================
About Page Section CSS
=======================*/

.sectionAbout1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 150px;
  padding-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .sectionAbout1{
    padding-top: 100px;
  }
  .overlay::after{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .overlay::after{
    content: ' ';
    background: #000;
    left: 30%;
    right: 0;
    top: 0;
    height: 30%;
    position: absolute;
  }
}

@media (min-width: 991px) {
 .overlay::after{
   content: ' ';
   background: #000;
   left: 30%;
   right: 90px;
   top: 0;
   height: 30%;
   position: absolute;
 } 
}

.sectionAbout1 h1{
  font-size: 42px;
  color: #000;
  margin-top: 100px;
  margin-bottom: 40px;

}
.sectionAbout1 p{
  font-size: 21px;
  color: #000;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .sectionAbout1 h1{
    font-size: 37px;
    margin-top: 30px;

  }
  .sectionAbout1 p{
    font-size: 17px;
  }
}
.sectionAbout2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionAbout2.bg{
  background: url("images/bgAboutGirl.jpg") no-repeat;
  background-size: cover;
  min-height: 300px;
}
.sectionAbout2 h1{
  font-size: 47px;
  color: #000;

}
.sectionAbout2 p{
  font-size: 21px;
  color: #000;
}


.sectionAbout3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionAbout3 h1{
  font-size: 37px;
  color: #fff;
  margin-bottom: 15px;
}

.sectionAbout3 p{
  font-size: 19px;
  color: #fff;
  margin-bottom: 50px;
}

.sectionAbout3 img{
  margin: 30px auto 30px auto;
  display: block;
  width: 70%;
}
 
@media (max-width: 767px) {
  .sectionAbout3 img{
    margin: 30px auto 30px auto;
    width: 100%;
  }
}


.sectionAbout4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionAbout4 h1{
  font-size: 47px;
  color: #000;
  margin-bottom: 60px;
}

.sectionAbout4 img{
  margin: 0 auto;
  display: block;
  width: 120px;
}

.sectionAbout4 h2{
  font-size: 30px;
  color: #000;
}

.sectionAbout4 p{
  font-size: 20px;
  color: #000;
}

.sectionAbout5{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .sectionAbout5{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .sectionAbout5{
    min-height: 300px;
  }
}
.sectionAbout5.bg{
  background: url("images/bgAboutBoy.jpg") no-repeat;
  background-size: cover;
}
.sectionAbout5 h1{
  font-size: 47px;
  color: #000;

}
.sectionAbout5 p{
  font-size: 21px;
  color: #000;
}




















/*===================
Footer CSS
================*/
.sectionFooter{
  padding-top: 30px;
  padding-bottom: 30px;
}

.leftSide ul {
  margin: 0 0 15px 0;
  padding: 0;
}
@media (max-width: 500px) {
  .leftSide ul {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
.leftSide ul li{
  display: inline-block;
  list-style: none;
}

.leftSide ul li + li {
  margin-left: 20px;
}

.leftSide ul li a{
  display: block;
  text-decoration: none;
}
.leftSide a img{
  display: block;
  width: 50px;
  height: 50px;
}

.leftSide p{
  font-size: 17px;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 30px;
} 
.rightSide h1{
  font-size: 27px;
  color: #fcf113;
  margin-bottom: 10px;
}

.rightSide p{
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media(max-width: 500px) {
  .leftSide p{
    font-size: 14px;
    font-weight: lighter;
  }
  .leftSide p:first-child{
    margin-top: 30px;
  }
  .rightSide p{
    font-size: 21px;
  }
  .rightSide h1{
    font-size: 21px;
  }
}
.footerForm input{
  width: 100%;
  background-color: transparent;
  border:1px solid transparent;
  height: 35px;
  padding: 5px 10px 5px 0;
  color: #ddd;
}
::placeholder {
  font-size: 21px;
  color: #605c5c;
  opacity: 1;
}

:-ms-input-placeholder {
  font-size: 21px;
  color: #605c5c;
}

::-ms-input-placeholder {
  font-size: 21px;
  color: #605c5c;
}
.footerForm input:focus{
  outline: none;
  border-bottom:1px solid red;
}

.footerForm input.error{
  outline: none;
  border-bottom:1px solid red;
}


.footerForm button,
.footerForm button:hover,
.footerForm button:focus,
.footerForm button:active:focus{
  font-size: 21px;
  background-color: transparent;
  border:0px solid #fff;
  color: #fff;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  outline: none;
}

@media(max-width: 500px) {
  .footerForm button,
  .footerForm button:hover,
  .footerForm button:focus,
  .footerForm button:active:focus{
    font-size: 17px;
  }
  ::placeholder {
    font-size: 17px;
    color: #605c5c;
    opacity: 1;
  }

  :-ms-input-placeholder {
    font-size: 17px;
    color: #605c5c;
  }

  ::-ms-input-placeholder {
    font-size: 17px;
    color: #605c5c;
  }
}



/*========================
Video
===================*/

section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/*.headerContent {
  position: absolute;
  left: 50%;
  top:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}*/
.headerContent h1{
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.headerContent h1>span{
  display: block;
}

@media (max-width: 480px) {
  .headerContent h1{
    font-size: 37px;
  }
}
@media (max-width: 500px) {
  .headerButton.full{
    width: 100%;
  }
}
.headerButton.inline-block{
  width: auto;
}
@media (max-width: 480px) {
  .headerButton.inline-block{
    width: 100%;
    margin-bottom: 10px;
  }
}
.headerButton{
  font-size: 20px;
  padding:15px 35px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top:15px;
}
.headerButton.textYellow{
  background-color: rgb(252,241,19);
  border: 1px solid transparent;
}
.headerButton.textYellow:hover{
  background-color:rgba(0,0,0,.8);
  color: #fff;
}

.headerButton.textBlack{
  color:#fff;
  background-color:rgba(0,0,0,.8);
}
.headerButton.textBlack:hover{
  background-color: rgb(252,241,19);
  color: #fff;
}

/*=====================
CSS Header
=======================*/
.customHeader.navbar-default{
  background-color: transparent!important;
}

.customHeader.navbar-default{
  background-color: transparent!important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  border: none;
}

.customHeader.navbar{
  min-height: 100px;
}

.customHeader.navbar-default .navbar-nav>li>a{
  font-size: 20px;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #fff;
}
.navbar-toggle{
  background-color: #fff;
}
.navbar-toggle:hover{
  background-color: #000;
}
@media (max-width: 761px) {
  .customHeader.navbar-default .navbar-nav>li>a{
    text-align: center;
  }
  .loginBtn{
    width: 50%;
    margin-bottom: 20px;
  }
  .navbar-brand > img {
      width: 50%;
  }
}
.customHeader.navbar-default .navbar-nav>li.loginBtn a{
  border: 4px solid rgb(252,241,19);
  border-radius: 5px;
}
.customHeader.navbar-default .navbar-nav>li.loginBtn a:hover{
  border: 4px solid rgb(252,241,19);
}

.navbar-collapse.collapse.in{
  background:rgba(0,0,0,.7);
}

@media (min-width: 768px){
  .customHeader.navbar-default .navbar-nav.navbar-right {
    margin-top: 45px;
  }

  .customHeader.navbar-default .navbar-nav>li>a {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 30px;
      padding-right: 30px;
  }
}


@media (min-width: 501px) {
  .destopVersion{
    display: block;
  }
  .mobileVersion{
    display: none;
  }
}

@media (max-width: 500px) {
  .destopVersion{
    display: none;
  }
  .mobileVersion{
    display: block;
  }
}


