
/*===========================================
Home Page Structure Avdhesh Kumar Nigam
===============================================*/
/*@font-face { 
  font-family: FuturaPTLight; 
  src: local('FuturaPTLight'), 
  url(./fonts/FuturaPTLight.otf) 
  format('opentype'); 
}*/
@import "fonts.css";
* {
  /*font-family: 'FuturaPTLight', 'Roboto', sans-serif;*/
}
body {
  font-family: Futura PT;
  font-weight: normal;
  letter-spacing: 1;
}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}

h1,
h2{
  font-family: 'Futura PT Book';
  font-weight: normal;
}
h1.bold{
  font-family: 'Futura PT';
  font-weight: 500!important;
}
p{
  font-family: 'Futura PT Book';
  font-weight: normal;
  line-height: 1.2;
}

.fontWeight500{
  font-weight: 500!important;
}
.fontWeightBold{
  font-weight: bold!important;
}

@media (max-width: 767px) {
  h1.fontWeightBold{
    margin-top: 50px!important;
    margin-bottom: 50px!important;  
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}


@media (min-width: 1100px) {
.container {
    width: 1080px!important;
  }
}

.customContainer{
  width: 100%!important;
  overflow:hidden;
  padding-left: 0;
  padding-right: 0;
}

.fullSection{
  height: 100vh;
}


/*@media (min-width: 1440px) {
.container {
    width: 1440px!important;
  }
}*/

.marginRow{
  margin-top: 100px;
}


section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.sky {
  background: rgb(109, 133, 167);
}
.green {
  background: #fff;
}
.gray {
    height: 100vh;
    background: rgb(232, 232, 232);
}
.bgGray {
    height: 100vh;
    background: #F8F9F9;
}

.white {
    background: #fff;
}
.black {
    background: #25274D;
}

.auto{
  height: auto!important;
}

@media(min-width : 991px) {
  .fullHeight{
    height: 100vh;
  }
  .sky {
      height: 100vh;
  }
  .green {
      height: 100vh;
  }
  .gray {
      height: 100vh;
  }
  .white {
      height: 100vh;
  }
  .black {
      height: 100vh;
  }
}


.textWhite{
  color: #fff!important;
}
.textSizeSmall{
  font-size: 38px!important;
}
.sectionAlign{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1Home{
  padding-top: 100px;
  padding-bottom: 40px;
}
.bgColorBlack{
  height: 100vh;
}
@media (max-width: 480px) {
  .section1Home{
    overflow:hidden;
    height: 100vh;
  }
  .textSizeSmall{
    font-size: 25px!important;
  }
}
.sectionLast{
  height: auto!important;
  padding: 60px 60px 80px 60px;
}

.sectionLast h1{
  font-family: 'Futura PT Book';
  font-size: 40px;
  font-weight: normal;
}

.secionFour img{
  margin:0 auto!important;
}
@media (max-width: 991px) {
  body{
    overflow-x: hidden;
  }
  .sectionLast{
    height: auto!important;
    padding: 30px 15px 50px 15px;
    border-top: 10px solid #53CCF9;
  }
  .sectionLast h1 {
    font-size: 27px;
    font-weight: bold;
  }
  .sectionLast p {
    font-size: 21px!important;
    margin-bottom: 30px;
  }
  .secionFour{
    border-top: 10px solid rgb(0,0,0);
  }
  .viewSection{
    height: auto;
  }
} 
.sectionLast p{
  font-size: 21px;
}
.sectionAccess{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 501px) {
  .sectionAccess.bg{
    background: url("images/bgBoy.jpg") no-repeat;
    background-size: cover;
    min-height: 400px;
  }
}

@media(max-width: 500px) {
  .sectionAccess.bg{
    background: #fff;
    background-size: cover;
    min-height: 300px;
  }
  .boyBgMobile{
    background: url("images/bgBoy.jpg") no-repeat;
    background-size: cover;
    min-height: 300px;
  }
  .mobileTextHome{
    text-align: right!important;
    padding-left: 15%;
  }
}
.plrnone{
  padding-left: 0;
  padding-right: 0;
}

.sectionAccess h1{
  font-family: 'Futura PT Book';
  font-size: 48px;
  font-weight: normal;
  color: #000;
}
.sectionAccess p {
  font-size: 21px;
  color: #000;
}

.sectionAccess h2{
  font-family: 'Futura PT Book';
  font-size: 37px;
  font-weight: normal;
  color: #000;
}

@media (max-width: 480px) {
  .sectionAccess{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .sectionAccess h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }
  .sectionAccess h2{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .sectionAccess p {
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}


/*=====================
About Page Section CSS
=======================*/

.sectionAbout1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 150px;
  padding-bottom: 40px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  .sectionAbout1{
    padding-top: 100px;
  }
  .overlay::after{
    display: block;
      content: ' ';
      background: #25274D;
      left: 35%;
      right: 0;
      top: 0;
      height: 20%;
      position: absolute;
    
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .overlay::after{
    content: ' ';
    background: #25274D;
    left: 30%;
    right: 0;
    top: 0;
    height: 40%;
    position: absolute;
  }
}


/*@media (min-width: 991px) {
 .overlay::after{
   content: ' ';
   background: #000;
   left: 30%;
   right: 90px;
   top: 0;
   height: 30%;
   position: absolute;
 } 
}*/

@media (min-width: 991px) and (max-width: 1400px) {
  .overlay::after{
    content: ' ';
    background: #25274D;
    left: 30%;
    right: 0;
    top: 0;
    height: calc(100% - 780px);
    position: absolute;
  }
}

@media (min-width: 1401px) {
  .overlay::after{
    content: ' ';
    background: #25274D;
    left: 30%;
    right: 0%;
    width: 1140px;
    top: 0;
    height: 30%;
    position: absolute;
  }
}


.sectionAbout1 h1{
  font-family: 'Futura PT Book';
  font-size: 42px;
  font-weight: normal;
  color: #000;
  margin-top: 170px;
  margin-bottom: 40px;
}
.sectionAbout1 p{
  font-size: 21px;
  color: #000;
}
@media(min-width: 1100px) {
  .sectionAbout1 p{
  margin-bottom: 170px;
}
}
@media (max-width: 480px) {
  .sectionAbout1 h1{
    font-size: 37px;
    font-weight: bold;
    margin-top: 30px;
  }
  .sectionAbout1 p{
    font-size: 21px;
  }
}
.sectionAbout2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionAbout2.bg{
  background: url("images/bgAboutGirl.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}
.sectionAbout2 h1{
  font-size: 47px;
  color: #000;

}
.sectionAbout2 p{
  font-size: 21px;
  color: #000;
}


.sectionAbout3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionAbout3 h1{
  font-size: 37px;
  color: #fff;
  margin-bottom: 15px;
}

.sectionAbout3 p{
  font-size: 21px;
  color: #fff;
  margin-bottom: 50px;
}

.sectionAbout3 img{
  margin: 30px auto 30px auto;
  display: block;
  width: 70%;
}
 
@media (max-width: 767px) {
  .sectionAbout3 img{
    margin: 30px auto 30px auto;
    width: 100%;
  }
}


.sectionAbout4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionAbout4 h1{
  font-size: 47px;
  color: #000;
}

@media(min-width: 1100px) {
  .sectionAbout4 h1{
  margin-bottom: 120px;
}
}
.sectionAbout4 img{
  margin: 0 auto;
  display: block;
  width: 120px;
}

@media(max-width: 500px) {  
  .bgCircleAboutApproach img{
    margin-top: 20px;
  }
  .bgCircleAboutApproach p{
    margin-top: 0!important;
  }
}
.sectionAbout4 h2{
  font-size: 35px;
  color: #000;
}

@media(min-width: 1440px) {
  .sectionAbout4 h2{
    font-size: 40px;
    color: #000;
  }
}


.sectionAbout4 p{
  font-size: 20px;
  margin-top: 30px;
  color: #000;
}
@media(min-width: 991px){
  .sectionView4{
    padding-bottom: 200px;
  }
}
@media(max-width: 990px){
  .sectionView4{
    padding-bottom: 50px;
  }
}
.sectionView4 p{
  font-size: 20px;
  padding: 0px 15px;
  color: #000;
}

.sectionAbout5{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgTheme{
  background-color: #25274D;
}
.themeTextColor{
  color: #53CCF9!important;
}
@media(min-width: 1100px) {
  .bgCircleAboutApproach .aboutApproach{
    margin-top: 120px;
  }
}

@media (max-width: 480px) {
  .sectionAbout5{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 767px) and (max-width: 991px){
  .sectionAbout5{
    height: 80vh;
  }
  .sectionAbout2.bg{
    height: 80vh;
  }
}
@media (max-width: 767px) {
  .sectionAbout5{
    min-height: 300px;
  }
  .sectionAbout2.bg{
    height: 300px;
  }
}
.sectionAbout5.bg{
  background: url("images/bgAboutBoy.jpg") no-repeat;
  background-size: cover;
}
.sectionAbout5 h1{
  font-size: 47px;
  color: #000;

}
.sectionAbout5 p{
  font-size: 21px;
  color: #000;
}




















/*===================
Footer CSS
================*/
.sectionFooter{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 50px solid #fff;
}

.sectionFooterBTC{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 50px solid #F8F9F9;
}
.sectionFooterBlue{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 50px solid #25274d;
}
@media(max-width: 991px) {
  .sectionFooter{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 10px solid #fff;
  }

  .sectionFooterBTC{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 10px solid #F8F9F9;
  }
  .sectionFooterBlue{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 10px solid #25274d;
  }
}
.leftSide ul {
  margin: 0 0 15px 0;
  padding: 0;
}
@media (max-width: 767px) {
  .leftSide ul {
    margin: 0 0 15px 0;
    text-align: center;
  }
  .headerButton.textYellow{
    width: 100%;
  }
}
.leftSide ul li{
  display: inline-block;
  list-style: none;
}

.leftSide ul li + li {
  margin-left: 20px;
}

.leftSide ul li a{
  display: block;
  text-decoration: none;
}
.leftSide a img{
  display: block;
  width: 50px;
  height: 50px;
}

.leftSide p{
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 30px;
} 
@media (min-width: 991px){
  .leftSide p:first-child{
    margin-top: -30px;
  }
  .logoWhite{
    display: block;
    margin-top: 30px;
    width: 137px;
  }
  .logoBlack{
    display: block;
    margin-top: 30px;
    width: 137px;
  }
}
.rightSide h1{
  font-size: 27px;
  color: #53CCF9;
  margin-bottom: 10px;
}

.rightSide p{
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media(max-width: 500px) {
  .leftSide p{
    font-size: 17px;
    font-weight: lighter;
  }
  .leftSide p:first-child{
    margin-top: 30px;
  }
  .rightSide p{
    font-size: 21px;
  }
  .rightSide h1{
    font-size: 21px;
  }
}
.footerForm input{
  font-family: Futura PT;
  font-weight: normal;
  width: 100%;
  background-color: transparent;
  border:1px solid transparent;
  height: 35px;
  padding: 5px 10px 5px 0;
  color: #ddd;
}
::placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.43);
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.43);
}

::-ms-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.43);
}
::-moz-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.43);
}

.footerForm input:focus{
  outline: none;
  border-bottom:1px solid red;
}

.footerForm input.error{
  outline: none;
  border-bottom:1px solid red;
}


.footerForm button,
.footerForm button:hover,
.footerForm button:focus,
.footerForm button:active:focus{
  font-size: 21px;
  background-color: transparent;
  border:0px solid #fff;
  color: #fff;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  outline: none;
}

@media(max-width: 500px) {
  .footerForm button,
  .footerForm button:hover,
  .footerForm button:focus,
  .footerForm button:active:focus{
    font-size: 17px;
  }
  ::placeholder {
    font-family: Futura PT;
    font-weight: normal;
    font-size: 17px;
    color: #605c5c;
    opacity: 1;
  }

  :-ms-input-placeholder {
    font-family: Futura PT;
    font-weight: normal;
    font-size: 17px;
    color: #605c5c;
  }

  ::-ms-input-placeholder {
    font-family: Futura PT;
    font-weight: normal;
    font-size: 17px;
    color: #605c5c;
  }
  ::-moz-input-placeholder {
    font-family: Futura PT;
    font-weight: normal;
    font-size: 17px;
    color: #605c5c;
  }
}



/*========================
Video
===================*/

section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/*.headerContent {
  position: absolute;
  left: 50%;
  top:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}*/
.headerContent h1{
  
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.headerContent h1>span{
  display: block;
}
.headerContent p{
  font-size: 21px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}
.headerContent p span{
  display: block;
}

@media(min-width: 991px) {
  .headerContentHeading{
    margin-bottom: 85px;
  }
}
@media (min-width: 481px) and (max-width: 991px){
  .headerContent h1{
    font-size: 65px;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .headerContent h1{
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .headerButton.full{
    width: 100%;
  }
}
.headerButton.inline-block{
  width: auto;
}
@media (max-width: 480px) {
  .headerButton.inline-block{
    width: 100%;
    margin-bottom: 10px;
  }
}
.headerButton{
  font-family: arial;
  font-size: 23px;
  font-weight: normal;
  padding:15px 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top:15px;
}
.headerButton.textYellow{
  font-family: arial;
  font-size:23px;
  font-weight: normal;
  background-color: #fff;
  border: 1px solid #fff;
  color:#000;
  border-radius: 5px;
}
.headerButton.textYellow:hover{
  background-color: #53CCF9;
  color: #000;
  border:1px solid #53CCF9;
}

.headerButton.textBlack{
  font-family: arial;
  font-size:23px;
  font-weight: normal;
  color:#fff;
  background-color:#25274D;
  border:1px solid #25274D;
  border-radius: 5px;
}
.headerButton.textBlack:hover{
  font-family: arial;
  font-size:23px;
  font-weight: normal;
  background-color: #53CCF9;
  color: #000;
  border:1px solid #53CCF9;
}
.btnBlue{
  font-family: arial;
  background-color: #25274D;
  color: #fff;
  font-size: 23px;
  font-weight: normal;
  padding:15px 35px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top:15px;
}
.btnBlue:hover{
  background-color: #25274D;
  color: #fff;
}

@media(min-width: 991px) {
  .buttonMT{
    margin-top: 40px;
  }
  .bgCircle3Clear h1{
    font-size: 46px;
  }
  .fontSize56{
    font-size: 56px!important;
  }
}
/*=====================
CSS Header
=======================*/
.customHeader.navbar-default{
  background-color: transparent!important;
}

.customHeader.navbar-default{
  background-color: transparent!important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  border: none;
}

.customHeader.navbar{
  min-height: 100px;
}

.customHeader.navbar-default .navbar-nav>li>a{
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color: #fff;
}
.navbar-toggle{
  background-color: #fff;
}
.navbar-toggle:hover{
  background-color: #000;
}
@media (max-width: 761px) {
  .customHeader.navbar-default .navbar-nav>li>a{
    text-align: center;
  }
  .loginBtn{
    width: 50%;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  .navbar-brand > img {
    float: left;
    width: 50%;
  }
}
.customHeader.navbar-default .navbar-nav>li.loginBtn a{
  border: 4px solid #fff;
  border-radius: 5px;
}
.customHeader.navbar-default .navbar-nav>li.loginBtn a:hover{
  border: 4px solid #53CCF9;
}

.navbar-collapse.collapse.in{
  background:rgba(0,0,0,.7);
}

@media (min-width: 768px){
  .customHeader.navbar-default .navbar-nav.navbar-right {
    margin-top: 45px;
  }

  .customHeader.navbar-default .navbar-nav>li>a {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 30px;
      padding-right: 30px;
  }
}


@media (min-width: 501px) {
  .destopVersion{
    display: block;
  }
  .mobileVersion{
    display: none;
  }
}

@media (max-width: 500px) {
  .destopVersion{
    display: none;
  }
  .mobileVersion{
    display: block;
  }
  .mobileVersion p{
    margin-top:50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .bgHeadingCircle h1{
    margin-top: 55px;
    margin-bottom: 30px;
  }
  .bgHeadingCircle {
    background-image: url("images/circle.png");
    background-position: 56%  0px;
    background-repeat: no-repeat;
    background-size: 25%;
  }
  .bgHeadingCircleZero h1{
    margin-top: 55px;
    margin-bottom: 30px;
  }
  .bgHeadingCircleZero {
    background-image: url("images/newCircle.png");
    background-position: 56%  0px;
    background-repeat: no-repeat;
    background-size: 25%;
  }
  .bgCircle {
    background-image: url("images/circle.png"), url("images/circle.png"), url("images/circle.png");
    background-position: -40px -230px, 1220px 100px, 200px 110%;
    background-repeat: no-repeat, no-repeat;
    background-size: 400px, 200px, 220px;
  }
  .bgCircle4Contact {
    background-image: url("images/circle.png"), url("images/circle.png");
    background-position: -200px 0px, 1230px 50px;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px;
  }
  .bgCircle4View {
    background-image: url("images/circle.png"), url("images/circle.png"), url("images/circle.png");
    background-position: -200px 0px, 1265px 50px, 20% 125%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px, 250px;
  }
  .bgCircle3Contact {
    background-image: url("images/circle.png"), url("images/circle.png");
    background-position: -200px 0px, 1240px 50px;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px;
  }
  .bgCircle3ViewMake {
    background-image: url("images/circle.png"), url("images/circle.png"), url("images/circle.png");
    background-position: -200px 0px, 1240px 50px, 30% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px, 200px;
  }
  .bgSectionPrice {
    background-image: url("images/circle.png"), url("images/circle.png"), url("images/circle.png");
    background-position: 10% 50%, 1200px 50px, 90% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 182px, 178px, 260px;
  }
  .bgCircle3Clear {
    background-image: url("images/circle.png");
    background-position: -200px 0px;
    background-repeat: no-repeat;
    background-size: 300px;
  }
  .bgHeadingCircle {
    background-image: url("images/circle.png");
    background-position: 73%  15px;
    background-repeat: no-repeat;
    background-size: 25%;
  }
  .bgHeadingCircleZero {
    background-image: url("images/newCircle.png");
    background-position: 62%  15px;
    background-repeat: no-repeat;
    background-size: 25%;
  }

  .bgCircle4About1n2 {
    background-image: url("images/circle.png"), url("images/circle.png"), url("images/circle.png");
    background-position: -200px 70%, 1100px 70%, 20% 105%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px, 150px;
  }
  .bgCircleAboutApproach {
    background-image: url("images/circle.png"), url("images/circle.png");
    background-position: -200px 0%, 1100px 90%;
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 178px;
  }
}

@media (min-width: 501px) and (max-width: 991px) {
  .sectionAccess h1,
  .sectionAccess h1,
  .sectionAccess h1{
    font-size: 40px!important;
  }
}



/*======================
Contact Page
=========================*/
.sectionContact.bg{
  background: url("images/services.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.offWhite{
  background-color: #F8F9F9!important;
}

.sectionContact4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F8F9F9;
  padding-top: 100px;
  padding-bottom: 100px;
}
.sectionContact4 h1{
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-bottom: 60px;
}

.sectionContact4 img{
  margin: 0 auto;
  display: block;
}


.sIcons{
  margin: 0 auto;
  display: block;
  width: auto!important;
  /*min-height: 94px;*/
}

.displayDataHeading{
  font-size: 48px!important;
  font-weight: normal;
  color: #6FD0F4!important;
  text-align: center!important;
}

.displayData{
  font-size: 48px!important;
  font-weight: normal;
  color: #fff!important;
  text-align: center!important;
}
.displayData span{
  display: block!important;
  font-size: 21px;
  font-weight: normal;
  color: #53CCF9;
  max-width: 60%;
  margin:0 auto;
}

.SectionContactLine{
  background-color: #25274D;
}

.blueRow{
  background-color: #25274D;
}

.workerTP{
  padding-top: 135px;
  padding-bottom: 95px;
}

@media(max-width: 991px) {
  .workerTP{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .workerTP p{
    margin-bottom: 50px;
  }
  .marginRow{
    margin-top: 10px;
  }
}

.servicesbg{
  background: url("images/servicesbg.png") center center no-repeat;
  background-size: 90%;
  height: 100vh;
}

@media(max-width: 767px) {
  .servicesbg {
    height: 300px;
  }
}



.sectionPrice{
  border-top: 16px solid #53CCF9;
}
.sectionBorder{
  border-top: 16px solid #53CCF9;
}

.priceList h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.priceList p {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin: 20px 0;
}
@media(min-width: 501px) {
  .priceBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
    border-radius: 5px;
    text-align: center;
    width: 416px;
    margin: 40px auto;
  }
}
@media(max-width: 500px) {
.sectionContact4 h1{
  margin-top: -20px;
}
  .priceBox {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.161);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin: 40px auto;
  }
  .bgColorBlack{
    background-color: #000;
  }
  video{
    display: none;
  }
}
.priceBox img{
  display: block;
  width: 72px;
  margin:40px auto;
}
.boxHeader.blue {
  background: #25274D;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.161);
  border-radius: 5px;
  padding: 15px;
}
.boxHeader.blue h1{
  font-size: 23px;
  text-align: center;
  color: #53CCF9;
  margin:0;
  padding: 0;
}

.boxHeader.subHeading{
  background: #F8F9F9;
  border-radius: 5px;
  padding: 15px;
}

.boxHeader.subHeading h1{
  font-size: 21px;
  font-weight: 800;
  color: #191919;
  text-align: center;
  margin:0;
  padding: 0;
}

.priceBox ul{
  margin: 10px 0;
  padding: 0;
  text-align: center; 
}

.priceBox  ul li{
  font-family: 'Futura PT Book';
  font-weight: normal;  
  font-size: 21px;
  display: block;
  list-style: none;
  margin:4px 0;
  color: #191919;
}

.priceBox p{
  font-size: 14px;
  color: #25274D;
}
.priceBox button{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  display: block;
  width: 100%;
  font-size: 23px;
  color: #000;
  text-align: center;
  background: #53CCF9;
  border-radius: 5px;
  padding: 14px 15px;
}
.priceBox button:hover{
  background: #53CCF9;
  color: #000;
}


.userForm input{
  width: 100%;
  background-color: #fff;
  border:1px solid #fff;
  padding: 7px 2px 7px 15px;
  color: rgba(147, 147, 147, 0.73);
  margin: 7px 0;
  border-radius: 5px;
}
.userForm input::placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 18px;
  color: rgba(147, 147, 147, 0.73);
  opacity: 1;
}


.userForm input:-ms-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 18px;
  color: rgba(147, 147, 147, 0.73);
}

.userForm input::-ms-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 18px;
  color: rgba(147, 147, 147, 0.73);
}
.userForm input::-moz-input-placeholder {
  font-family: Futura PT;
  font-weight: normal;
  font-size: 18px;
  color: rgba(147, 147, 147, 0.73);
}

@media (max-width: 991px) {
  .bgColorBlack{
    background-color: #000;
    min-height: 500px;
  }
  .userForm input::placeholder {
    font-size: 16px;
  }
  .userForm input:-ms-input-placeholder {
    font-size: 16px;
  }

  .userForm input::-ms-input-placeholder {
    font-size: 16px;
  }
  .userForm input::-moz-input-placeholder {
    font-size: 16px;
  }
}
.userForm input:focus{
  outline: none;
  border-bottom:1px solid #53CCF9;
}

.userForm input.error{
  outline: none;
  border-bottom:1px solid red;
}


.userForm button,
.userForm button:hover,
.userForm button:focus,
.userForm button:active:focus{
  font-size: 21px;
  background-color: transparent;
  border:0px solid #fff;
  color: #fff;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  outline: none;
}



@media (min-width: 991px) {
  .MTNone h1{
    margin-top: 0;
  }
  .userDataImage{
    padding-top: calc(100% - 250px);
    margin: auto -15px auto auto;
  }

  .userDataDisplay{
    padding-top: calc(100% - 120px);
  }
}
 @media (max-width: 761px) {
  .userDataImage {
    margin: 20px auto;
  }
 }

 .row.userDataDisplay > [class^="col-"],
 .row.userDataDisplay > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
 }

.userDataDisplay input{
  display: flex;
  font-size: 21px;
  font-weight: bold;
  width: 90%;
  background-color: #fff;
  border:1px solid #fff;
  padding: 2px 15px 2px 15px;
  margin: 5px auto;
  border-radius: 20px;
  text-align: center;
  color: #000;
}
.userDataDisplay input::placeholder {
  font-size: 18px;
  color: #000;
  opacity: 1;
}

.userDataDisplay input:-ms-input-placeholder {
  font-size: 18px;
  color: #000;
}

.userDataDisplay input::-ms-input-placeholder {
  font-size: 18px;
  color: #000;
}

.userDataDisplay input:focus{
  outline: none;
  border-bottom:1px solid #fff;
}

.userDataDisplay input.error{
  outline: none;
  border-bottom:1px solid red;
}


.userDataDisplay button,
.userDataDisplay button:hover,
.userDataDisplay button:focus,
.userDataDisplay button:active:focus{
  font-size: 21px;
  background-color: transparent;
  border:0px solid #fff;
  color: #fff;
  text-align: center;
  height: 35px;
  padding: 5px 10px;
  outline: none;
}

.userDataDisplay p{
  font-size: 21px;
  text-align: center;
  color: rgba(0,0,0,.9);
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.sliderHeading{
  margin-bottom: 50px;
}

@media(max-width: 991px) {
  .sliderContainer{
    width: 100%;
  }
  .sliderHeading{
    font-size: 40px!important;
    margin-bottom: 50px;
  }
}

/*@media(min-width: 991px) {
  .owl-carousel .owl-item img {
      display: block;
      width: 95%;
      margin: 0 auto;
  }
}*/

.customRow{
  margin-left: -15px;
  margin-right: -15px;
}

.owl-next{
  position: absolute;
  right: 0px;
  top:47%;
  transform: translate(-50%,-50%);
}
.owl-prev{
  position: absolute;
  left: 70px;
  top:47%;
  transform: translate(-50%,-50%);
}
.owl-next,
.owl-prev{
  background-color: #25274D!important;
  border:3px solid #53CCF9!important;
  width: 64px!important;
  height: 64px!important;
  border-radius: 50%!important;
  padding-top: 0px;
  outline: none;
}
.owl-next > span,
.owl-prev > span{
  font-size: 85px!important;
  font-weight: lighter!important;
  color: #fff;
  position: absolute;
  top: -42px;
  left: 18px;
}

@media(max-width: 500px) {
  /*.owl-next,
  .owl-prev{
    display: block!important;
  }*/
  .owl-next{
    position: absolute;
    right: -9px;
    top:40%;
    transform: translate(-50%,-50%);
  }
  .owl-prev{
    position: absolute;
    left: 22px;
    top:40%;
    transform: translate(-50%,-50%);
  }
  .owl-next,
  .owl-prev{
    background-color: #25274D!important;
    border:3px solid #53CCF9!important;
    width: 32px!important;
    height: 32px!important;
    border-radius: 50%!important;
    padding-top: 0px;
    outline: block;
  }
  .owl-next > span,
  .owl-prev > span{
    font-size: 35px!important;
    font-weight: lighter!important;
    color: #fff;
    position: absolute;
    top: -16px;
    left: 8px;
  }
}


@media(max-width: 991px) {
  .mobileImg{
    margin: 50px 0;
  }
  .desktopImg{
    margin: 50px 0;
  }
  
  .sectionAccess h1{
    padding-top: 30px;
  }
  .mobileMarginTop{
    margin-top: 50px;
  }
  .mobileTime{
    margin-bottom: 0!important;
  }
  .textBlack{
    color: #000;
  }
}
@media(min-width: 991px) {
  .secionFour h1 span,
  .sectionAccess h1 span{
    font-family: 'Futura PT Book';
    display: block;
  }
  .sectionLast p{
    margin: 30px auto;
  }
}
@media(min-width: 481px) and (max-width: 990px) {
  .desktopImg{
    margin: 50px auto;
    width: 70%;
  }
}

.owl-prev.disabled,
.owl-next.disabled{
  display: none;
}
.owl-item.active.center .item img{
  transform: scale(1);
  /*transition: all .5s ease-in-out;*/
  opacity: 1;
  filter: alpha(opacity=100);
}

.owl-item .item img{
  transform: scale(.7);
  opacity: 0.2;
  filter: alpha(opacity=50);
}

.sectionSlider{
  height: auto!important;
  padding: 60px 0px 80px 0px;
}

.sectionSlider h1{
  font-size: 40px;
  font-weight: bold;
}

@media(min-width: 991px) {
 .sectionParter{
   padding-top: 150px;
   padding-bottom: 150px;
 }
}

@media(max-width: 991px) {
 .sectionParter{
   padding-top: 50px;
   padding-bottom: 50px;
 }
}
.sectionParter img{
  margin-bottom: -10px;
  width:auto;
}
.ParterP{
  margin-top: 30px;
  margin-bottom: 100px!important;
}


@media (max-width: 991px) {
  .sectionSlider{
    height: auto!important;
    padding: 30px 0px 50px 0px;
    border-top: 10px solid #53CCF9;
  }
  .sectionSlider h1 {
    font-size: 27px;
    font-weight: bold;
  }
} 


@media (min-width: 1100px) {
  body{
    overflow-x: hidden;
  }
  .desktopImgScale{
    transform: scale(1.1)!important;
  }
  .desktopTextAlign{
    margin-top: 150px;
    margin-left: 10px;
  }
  .desktopTextAlignP{
    margin-left: 10px!important;
    font-size: 20px!important;
  }
  .paraDeskMT{
    margin-top: 33px!important;
  }
  .textNoWrap{
    white-space: nowrap;
  }
  .imgScale3{
    transform: scale(1.3);
  }
  .imgScale2{
    transform: scale(1.2);
  }
  .desktopMarginTop{
    margin-top: 70px;
    margin-bottom: 0;
  }
.clearTextAlign span{
  display: block;
}
}



/*===============
Press Logo
===============*/
.Section7Home{
  background-color: #F8F9F9 ; 
  padding: 10px 0 10px 0;
  height: auto;
}
.Section7Home h1 {
  font-size: 32px;
  font-weight: bold;
  color: #818181;
  text-align: center;
  margin: 15px;
  padding: 15px;
}
.pressLogo{
  margin: 0;
  padding: 0;
  text-align: center;
}

.pressLogo li{
  display: inline-block;
  list-style: none;
  text-align: center;
}
.pressLogo li:last-child{
  margin-right: 0px;
}
.pressLogo img{
  display: block;
  width: auto;
}

@media (max-width: 480px) {
  .pressLogo li{
    display: block;
  }
  .pressLogo li img{
    margin: 20px auto;
  }
}
@media (min-width: 991px) {
  .pressLogo li{
    margin-right: 38px;
  }
}

@media (max-width: 500px) {
  .pressLogo img{
    margin: 20px auto;
  }
}























